body {
  height: 100%;
  background-color: blueviolet;
}
a {text-decoration: none;}
h1 {
  color: #fff;
}
nav {
  text-align: center;
}
nav > a {
  color: #fff;
}
nav > a:hover {
  color: #3e1465;
}
.login--box-container {
  background-color: #fff;
}